.doinkster {
    background-image: url("Images/zombie_game_background.jpg");
    background-size: cover;
}

.startpage {
    background-image: url("images/zombiegame_start_screen_background_image.jpg");
    background-size: cover;
    text-align: center;
    margin-top: 100px;
    
}

.boxter {
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 300px;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
}

.gameover {
    background-image: url('Images/zombiegame_game_over_screen.jpg');
    background-size: cover;
}

.butoin {
    width: 2560px;
    margin-top: 900px;
    text-align: center;
}